<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <title>StartWithMe.Org</title>
      <link rel="stylesheet" href="style.css">
      <link href="https://fonts.googleapis.com/css?family=Fredericka+the+Great|Homemade+Apple" rel="stylesheet">
      <link rel="shortcut icon" href="./assests/blue-power-sign-button-logo.svg" type="image/x-icon">

   </head>
   <body>
      <header>
         <img src="./assests/blue-power-sign-button-logo.svg">
      </header>
      <h1 class="textLogo"> Start With Me</h1>
   </body>
</html>
