<!DOCTYPE html>
<html>
	<head>
		<% include ../partials/head %>
		<link rel="stylesheet" href="public/css/app.css">
		<link href="https://fonts.googleapis.com/css?family=Fredericka+the+Great|Homemade+Apple" rel="stylesheet">
	</head>
	<body>
		<header>
			<h1>Start With Me Homepage</h1>
			<nav>
				<ul>
					<li>
						<a href="/users">Users</a>
					</li>
					<li>
						<a href="/tasks">Tasks</a>
					</li>
				</ul>
			</nav>
		</header>
	</body>
</html>
