<!DOCTYPE html>
<html>
	<head>
		<% include ../partials/head %>
	</head>
	<body>
		<header>
			<h1>Start With Me Homepage</h1>
			<nav>
				<ul>
					<li>
						<a href="/users">Users</a>
					</li>
					<li>
						<a href="/tasks">Tasks</a>
					</li>
				</ul>
			</nav>
		</header>
	</body>
</html>
