<!DOCTYPE html>
<html>
	<head>
		<% include ../partials/head %>
	</head>
	<div class="headerChick">
		<img class="chicklets" src="/img/home.png"></img><span class="pipe2">|</span>
		<img class="chicklets picSize" src="/img/email.png"></img><span class="pipe2">|</span>
		<img class="chicklets" src="/img/share.png"></img><span class="pipe2">|</span>
		<img class="chicklets" src="/img/rss.png"></img><span class="pipe2">|</span>
		<img class="chicklets" src="/img/chat.png"></img><span class="pipe2">|</span>
		<img class="chicklets picSize3" src="/img/donate.png"></img><span class="pipe2">|</span>
		<img class="chicklets picSize3" src="/img/ideas.png"></img>
	</div>
	<header>
		<div class="subheader">
		   <img class="picLogo" src="/img/SWMLogo.png"></img>
		</div>

	</header>
	<body  class="container">
		<main>
			<% if(currentUser){ %>
				<div class="menu2">
			<% } %>
			<% if(!currentUser){ %>
				<div class="menu">
			<% } %>

				<% if(currentUser === undefined){%>
					<a class="menuLinks" href="/">HOME</a> <span class="pipe">|</span>
					<a class="menuLinks" href="/">FOUNDATION</a> <span class="pipe">|</span>
					<a class="menuLinks" href="/">GALLERY</a> <span class="pipe">|</span>
					<a class="menuLinks" href="/">DONATE</a>
				<%}%>
				<% if(currentUser){ %>
					 <a class="menuLinks" href="/">HOME</a> <span class="pipe">|</span>
					 <a class="menuLinks"href="/tasks">ACTIVITIES</a> <span class="pipe">|</span>
					 <a class="menuLinks"href="/users">MEMBERS</a>
				<% } %>
			</div>
			<div  id="indexImage">
				<img class="imgLogo" src="http://www.dorchesterchildren.org/images/slideshow/group-of-children.jpg"></img>
			</div>
			<div class="animation-target" id="indexSlide">
				<div class="volunteer">
					<img id="volunteerPic" src="/img/Volunteer.png">
				  <div class="overbox">
				    <div class="title overtext"> StartWithMe.org </div>
				    <div class="tagline overtext"> Start With Me is an Not For Profit organziation aimed at enabling children to provide kindness and help to their communities in the form of voluteering. </div>
				  </div>
				</div>
			</div>
		</main>
	</body>
	<footer>
		<% include ../partials/footer %>
	</footer>
</html>
