<!DOCTYPE html>
<html>
	<head>
		<% include ../partials/head %>
	</head>
	<header>
		<div class="subheader">
		   <img class="picLogo" src="/img/SWMLogo.png"></img>
		</div>
	</header>
	<body>
		<div class="menu">
			<% if(currentUser === undefined){%>
				<a class="menuLinks" href="/">HOME</a> <span class="pipe">|</span>
				<a class="menuLinks" href="/">FOUNDATION</a> <span class="pipe">|</span>
				<a class="menuLinks" href="/">GALLERY</a> <span class="pipe">|</span>
				<a class="menuLinks" href="/">DONATE</a>
			<%}%>

			<% if(currentUser){ %>
				 <a class="menuLinks" href="/">HOME</a> <span class="pipe">|</span>
				 <a class="menuLinks"href="/tasks">TASKS</a> <span class="pipe">|</span>
				 <a class="menuLinks"href="/users">USER</a> <span class="pipe">|</span>
				 <a class="menuLinks"href="/">POINTS METER</a>
			<% } %>
		</div>
		<div class="imgLogo" id="indexImage">
			<img  src="http://www.dorchesterchildren.org/images/slideshow/group-of-children.jpg"></img>
		</div>
		<div id="indexSlide">
			<div>
				<img id="volunteer" src="/img/Volunteer.png"></img>
			</div>

		</div>

	</body>
	<footer>
		<% include ../partials/footer %>
	</footer>
</html>
