<!DOCTYPE html>
<html>
	<head>
		<% include ../partials/head %>
		<script type="text/javascript" src="">

		</script>
	</head>
	<header>
		<img class="picLogo" src="/img/SWMLogo.png"></img>
		<h1></h1>
	</header>
	<body>
		<div class="menu">
				<a href="/">HOME</a> <span class="pipe">|</span>
				<a href="/">TASKS</a> <span class="pipe">|</span>
				<a href="/">RULES</a> <span class="pipe">|</span>
				<a href="/">POINTS METER</a>
		</div>
		<img class="imgLogo" id="indexImg" src="http://www.dorchesterchildren.org/images/slideshow/group-of-children.jpg"></img>

	</body>
	<footer>
		<% include ../partials/footer %>
	</footer>
</html>
