body{
   /*background-image: url('../../public/img/crayons.jpeg');*/
   /*background-repeat: no-repeat;
   background-size: cover;*/
   background-color: #04BAFF;
   font-family: 'Homemade Apple', cursive;
}
