*{
   padding: 0;
   margin: 0;
   /*width: 100%;
   height: 100%;*/
}

header{
   background-color: white;
   height: 30%;
   /*opacity: 0.5;*/
   float:left;
   width: 100%;
   margin-top: 0px;
   opacity: 0.75;
}

nav{
   margin-top: 0px;
   /*display: flex;
   justify-content: space-between;*/
   display: inline-block;
   float:left;
   background-color: white;
   width: 100%;
   padding-top: 20px;
   padding-right: 20px;
   /*margin-right: 10px;*/
   margin-left: 0;
   opacity: 0.5;
   font-weight: 400;
}

body{
   background-repeat: repeat-x;
   /*background-size: cover;*/
   background-color: #E0DD1D;
   font-family: 'Macondo', cursive;
   /*width: 50%;*/
}

main{
   display: inline-flex;
   justify-content: center;
}

ul{
   /*display: inline-block;*/
}
li{
   display: inline-block;
   margin-left: 30px;
   /*padding-left: 30px;*/
}

footer {
   left:0px;
   bottom:0px;
   height:20%;
   width:100%;
   background-image: url('/img/crayons.png');
   text-align: center;
   position: fixed;
}

.headerContent{
   opacity: 0.75;
}

.picLogo{
   width: 15%;
   height: 15%;
   padding: 0;
   margin:0;
   float: left;
   z-index: 1;
}

.imgLogo{
   position: absolute;
   display: flex;
   justify-content: center;
}

.pipe{
   padding-left: 20px;
   /*padding-right: 5px;*/
}

.navText{
   float: right;
}

.menu{
   background-color: #CB005C;
   align-items: center;
   display: flex;
   justify-content: space-around;
   width: 50%;
   height: 50px;
   z-index: 1;
   margin-left: 25%;
   margin-bottom: 15%;
   position: relative;
   top: 140px;
   color: white;
}

.menuLinks{
   color: white;
}

#indexSlide{
   background-color: white;
   height: 600px;
   width: 800px;
   /*position: relative;*/
}
#footer-content{
   margin-bottom: 30px;
   bottom: 0;
}

#indexImage{
   align-items: center;
}
