    /*
    Flaticon icon font: Flaticon
    Creation date: 22/06/2016 15:11
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-adobe-reader-file-outlined-sketch:before { content: "\f100"; }
.flaticon-alarm-clock-hand-drawn-outline:before { content: "\f101"; }
.flaticon-antenna-sketch:before { content: "\f102"; }
.flaticon-archive-box-outlined-hand-drawn-tool:before { content: "\f103"; }
.flaticon-arroba-hand-drawn-sign-of-email:before { content: "\f104"; }
.flaticon-arrow-pointing-a-circle-sketch:before { content: "\f105"; }
.flaticon-bars-graphic-of-comparison:before { content: "\f106"; }
.flaticon-bars-graphic-sketch:before { content: "\f107"; }
.flaticon-bars-stats-graphic:before { content: "\f108"; }
.flaticon-bills:before { content: "\f109"; }
.flaticon-birthday-giftbox-sketch:before { content: "\f10a"; }
.flaticon-bookmark-sketch-with-a-star:before { content: "\f10b"; }
.flaticon-browser-window-sketch:before { content: "\f10c"; }
.flaticon-burn-sketch:before { content: "\f10d"; }
.flaticon-business-ascending-graphic-sketch:before { content: "\f10e"; }
.flaticon-business-graphic-sketch:before { content: "\f10f"; }
.flaticon-business-graphic-sketch-of-two-lines:before { content: "\f110"; }
.flaticon-business-statistics:before { content: "\f111"; }
.flaticon-business-statistics-sketch:before { content: "\f112"; }
.flaticon-business-stats-line-graphic-sketch:before { content: "\f113"; }
.flaticon-chat-speech-bubbles-sketch:before { content: "\f114"; }
.flaticon-chatting-speech-bubbles-hand-drawn-bubbles-couple:before { content: "\f115"; }
.flaticon-circle-and-right-down-arrow-sketch:before { content: "\f116"; }
.flaticon-circle-of-graphic-with-50-percent-full-sketch:before { content: "\f117"; }
.flaticon-circle-sketch:before { content: "\f118"; }
.flaticon-circular-business-graphic-sketch:before { content: "\f119"; }
.flaticon-circular-divided-graphic-sketch:before { content: "\f11a"; }
.flaticon-circular-graphic-of-a-loader-with-0-percent-charged:before { content: "\f11b"; }
.flaticon-circular-graphic-of-percentage-on-monitor-screen:before { content: "\f11c"; }
.flaticon-circular-graphic-outlined-sketch:before { content: "\f11d"; }
.flaticon-circular-graphic-sketch:before { content: "\f11e"; }
.flaticon-circular-graphic-sketch-with-cut-25-percent-piece:before { content: "\f11f"; }
.flaticon-circular-graphic-with-striped-25-percent:before { content: "\f120"; }
.flaticon-circular-graphic-with-triangle-separation:before { content: "\f121"; }
.flaticon-circular-loader-100-percent-loaded-sketch:before { content: "\f122"; }
.flaticon-circular-percentages-graphic-sketch:before { content: "\f123"; }
.flaticon-circular-statistics-graphic:before { content: "\f124"; }
.flaticon-clipboard-sketch:before { content: "\f125"; }
.flaticon-cloud-sketched-shape:before { content: "\f126"; }
.flaticon-comparison-stats-graphic:before { content: "\f127"; }
.flaticon-configuration-gear-sketch:before { content: "\f128"; }
.flaticon-connected-person-social-sketch:before { content: "\f129"; }
.flaticon-credit-card-sketch:before { content: "\f12a"; }
.flaticon-cross-sketch:before { content: "\f12b"; }
.flaticon-diamond-sketch:before { content: "\f12c"; }
.flaticon-dollar-bill-sketched-outline:before { content: "\f12d"; }
.flaticon-dollar-currency-sign-sketch:before { content: "\f12e"; }
.flaticon-dollar-sketched-thin-sign:before { content: "\f12f"; }
.flaticon-dollars-coins-bag-outline:before { content: "\f130"; }
.flaticon-dollars-coins-stacks-sketch:before { content: "\f131"; }
.flaticon-down-arrow-sketch:before { content: "\f132"; }
.flaticon-down-arrow-sketch-1:before { content: "\f133"; }
.flaticon-download-from-cloud-sketch:before { content: "\f134"; }
.flaticon-download-sketch:before { content: "\f135"; }
.flaticon-email-new-envelope-closed-back-hand-drawn-outline:before { content: "\f136"; }
.flaticon-email-open-sketched-envelope:before { content: "\f137"; }
.flaticon-email-sketched-envelope-with-arroba-sign:before { content: "\f138"; }
.flaticon-email-winged-envelope-outlined-sketch:before { content: "\f139"; }
.flaticon-euro-sketched-sign:before { content: "\f13a"; }
.flaticon-exclamation-in-a-circle-sketch:before { content: "\f13b"; }
.flaticon-fast-forward-sketched-arrows:before { content: "\f13c"; }
.flaticon-favorites-star-sketch:before { content: "\f13d"; }
.flaticon-file-sketch-with-text-lines:before { content: "\f13e"; }
.flaticon-first-track-sketched-multimedia-button:before { content: "\f13f"; }
.flaticon-flash-bolt-sketch:before { content: "\f140"; }
.flaticon-folder-sketch:before { content: "\f141"; }
.flaticon-folder-sketch-with-right-arrow:before { content: "\f142"; }
.flaticon-halloween-october-31-calendar-page-sketch:before { content: "\f143"; }
.flaticon-heart-sketch:before { content: "\f144"; }
.flaticon-home-sketch:before { content: "\f145"; }
.flaticon-hot-tea-cup-hand-drawn-outline:before { content: "\f146"; }
.flaticon-image-file-sketch:before { content: "\f147"; }
.flaticon-internet-cloud-sketch-with-arrows:before { content: "\f148"; }
.flaticon-internet-download-sketch:before { content: "\f149"; }
.flaticon-irregular-sketched-shapes-couple:before { content: "\f14a"; }
.flaticon-key-sketch:before { content: "\f14b"; }
.flaticon-laptop-sketch:before { content: "\f14c"; }
.flaticon-last-track-button-sketch:before { content: "\f14d"; }
.flaticon-left-arrow-sketch:before { content: "\f14e"; }
.flaticon-left-quote-sketch:before { content: "\f14f"; }
.flaticon-lifesaver-sketch:before { content: "\f150"; }
.flaticon-light-bulb-outlined-hand-drawn-tool:before { content: "\f151"; }
.flaticon-line-graphic-of-business-stats-sketch:before { content: "\f152"; }
.flaticon-line-graphic-sketch:before { content: "\f153"; }
.flaticon-line-graphic-sketch-1:before { content: "\f154"; }
.flaticon-line-graphic-sketch-2:before { content: "\f155"; }
.flaticon-line-graphic-sketch-3:before { content: "\f156"; }
.flaticon-line-graphic-zig-zag:before { content: "\f157"; }
.flaticon-link-sketch:before { content: "\f158"; }
.flaticon-list-verification:before { content: "\f159"; }
.flaticon-loader-loading-circular-sketch-with-75-percent-completed:before { content: "\f15a"; }
.flaticon-locked-padlock-sketch:before { content: "\f15b"; }
.flaticon-locked-padlock-sketch-1:before { content: "\f15c"; }
.flaticon-login-sketch:before { content: "\f15d"; }
.flaticon-logout-button-sketch:before { content: "\f15e"; }
.flaticon-logout-sketch:before { content: "\f15f"; }
.flaticon-map-sketch-with-a-placeholder:before { content: "\f160"; }
.flaticon-microscope-sketch:before { content: "\f161"; }
.flaticon-mobile-phone-sketch:before { content: "\f162"; }
.flaticon-money-exchange-sketch-between-dollars-and-euros:before { content: "\f163"; }
.flaticon-monitor-sketch:before { content: "\f164"; }
.flaticon-monitor-sketch-1:before { content: "\f165"; }
.flaticon-mute-speaker-sketch:before { content: "\f166"; }
.flaticon-next-file-sketch-with-right-arrow:before { content: "\f167"; }
.flaticon-notebook-hand-drawn-interface-tool:before { content: "\f168"; }
.flaticon-numbered-list-hand-drawn-interface-button-items:before { content: "\f169"; }
.flaticon-paint-cube-sketch:before { content: "\f16a"; }
.flaticon-pharmacy-cross-sketched-sign-in-square-button:before { content: "\f16b"; }
.flaticon-phone-auricular-hand-drawn-outline:before { content: "\f16c"; }
.flaticon-photo-camera-sketch:before { content: "\f16d"; }
.flaticon-pin-sketch:before { content: "\f16e"; }
.flaticon-pin-sketch-1:before { content: "\f16f"; }
.flaticon-placeholder-sketch:before { content: "\f170"; }
.flaticon-play-right-triangle-arrow-sketch:before { content: "\f171"; }
.flaticon-pointer-arrow-sketch:before { content: "\f172"; }
.flaticon-portfolio-sketched-outline:before { content: "\f173"; }
.flaticon-prohibition-sign-sketch:before { content: "\f174"; }
.flaticon-puzzle-piece-sketch:before { content: "\f175"; }
.flaticon-rec-with-sketched-button-square:before { content: "\f176"; }
.flaticon-recycle-bin-sketch:before { content: "\f177"; }
.flaticon-rewind-two-arrows-sketched-button:before { content: "\f178"; }
.flaticon-right-arrow-on-a-pole-sketch:before { content: "\f179"; }
.flaticon-right-arrows-sketched-set:before { content: "\f17a"; }
.flaticon-rocket-sketch:before { content: "\f17b"; }
.flaticon-rss-feed-sign-sketch:before { content: "\f17c"; }
.flaticon-search-with-magnifier-sketch:before { content: "\f17d"; }
.flaticon-share-social-button-sketch:before { content: "\f17e"; }
.flaticon-shopping-cart-sketch:before { content: "\f17f"; }
.flaticon-signals-group-sketch:before { content: "\f180"; }
.flaticon-smile-in-message-sketched-speech-bubble:before { content: "\f181"; }
.flaticon-speaker-sketch:before { content: "\f182"; }
.flaticon-speaker-sketch-loud-volume-interface-tool:before { content: "\f183"; }
.flaticon-speech-bubble-sketch:before { content: "\f184"; }
.flaticon-square-interface-button-sketch:before { content: "\f185"; }
.flaticon-square-sketch:before { content: "\f186"; }
.flaticon-square-sketch-of-two-triangles:before { content: "\f187"; }
.flaticon-statistics-business-graphic:before { content: "\f188"; }
.flaticon-stats-bars-comparison-sketch:before { content: "\f189"; }
.flaticon-stats-graphic:before { content: "\f18a"; }
.flaticon-stats-graphic-of-horizontal-bars:before { content: "\f18b"; }
.flaticon-stats-graphic-of-percentages-in-horizontal-bars:before { content: "\f18c"; }
.flaticon-stats-graphic-with-zig-zag-lines:before { content: "\f18d"; }
.flaticon-stats-graphic-zig-zag-line:before { content: "\f18e"; }
.flaticon-tablet-computer-sketch:before { content: "\f18f"; }
.flaticon-text-book-hand-drawn-outline:before { content: "\f190"; }
.flaticon-text-on-paper-sheet-sketch:before { content: "\f191"; }
.flaticon-three-arrows-sketch:before { content: "\f192"; }
.flaticon-trophy-sportive-sketch:before { content: "\f193"; }
.flaticon-turning-right-arrow-sketch:before { content: "\f194"; }
.flaticon-two-arrows-sketch:before { content: "\f195"; }
.flaticon-two-opposite-arrows-sketch:before { content: "\f196"; }
.flaticon-upload-sketched-arrow:before { content: "\f197"; }
.flaticon-upload-to-internet-cloud-sketch:before { content: "\f198"; }
.flaticon-upload-to-internet-cloud-sketch-1:before { content: "\f199"; }
.flaticon-upload-to-internet-cloud-sketch-2:before { content: "\f19a"; }
.flaticon-verification-sign-sketch:before { content: "\f19b"; }
.flaticon-visible-visualization-option-eye-sketch:before { content: "\f19c"; }
.flaticon-warning-triangular-sketched-sign:before { content: "\f19d"; }
.flaticon-winking-face-in-message-speech-bubble-sketch:before { content: "\f19e"; }
.flaticon-zig-zag-line-stats-graphic:before { content: "\f19f"; }
    
    $font-Flaticon-adobe-reader-file-outlined-sketch: "\f100";
    $font-Flaticon-alarm-clock-hand-drawn-outline: "\f101";
    $font-Flaticon-antenna-sketch: "\f102";
    $font-Flaticon-archive-box-outlined-hand-drawn-tool: "\f103";
    $font-Flaticon-arroba-hand-drawn-sign-of-email: "\f104";
    $font-Flaticon-arrow-pointing-a-circle-sketch: "\f105";
    $font-Flaticon-bars-graphic-of-comparison: "\f106";
    $font-Flaticon-bars-graphic-sketch: "\f107";
    $font-Flaticon-bars-stats-graphic: "\f108";
    $font-Flaticon-bills: "\f109";
    $font-Flaticon-birthday-giftbox-sketch: "\f10a";
    $font-Flaticon-bookmark-sketch-with-a-star: "\f10b";
    $font-Flaticon-browser-window-sketch: "\f10c";
    $font-Flaticon-burn-sketch: "\f10d";
    $font-Flaticon-business-ascending-graphic-sketch: "\f10e";
    $font-Flaticon-business-graphic-sketch: "\f10f";
    $font-Flaticon-business-graphic-sketch-of-two-lines: "\f110";
    $font-Flaticon-business-statistics: "\f111";
    $font-Flaticon-business-statistics-sketch: "\f112";
    $font-Flaticon-business-stats-line-graphic-sketch: "\f113";
    $font-Flaticon-chat-speech-bubbles-sketch: "\f114";
    $font-Flaticon-chatting-speech-bubbles-hand-drawn-bubbles-couple: "\f115";
    $font-Flaticon-circle-and-right-down-arrow-sketch: "\f116";
    $font-Flaticon-circle-of-graphic-with-50-percent-full-sketch: "\f117";
    $font-Flaticon-circle-sketch: "\f118";
    $font-Flaticon-circular-business-graphic-sketch: "\f119";
    $font-Flaticon-circular-divided-graphic-sketch: "\f11a";
    $font-Flaticon-circular-graphic-of-a-loader-with-0-percent-charged: "\f11b";
    $font-Flaticon-circular-graphic-of-percentage-on-monitor-screen: "\f11c";
    $font-Flaticon-circular-graphic-outlined-sketch: "\f11d";
    $font-Flaticon-circular-graphic-sketch: "\f11e";
    $font-Flaticon-circular-graphic-sketch-with-cut-25-percent-piece: "\f11f";
    $font-Flaticon-circular-graphic-with-striped-25-percent: "\f120";
    $font-Flaticon-circular-graphic-with-triangle-separation: "\f121";
    $font-Flaticon-circular-loader-100-percent-loaded-sketch: "\f122";
    $font-Flaticon-circular-percentages-graphic-sketch: "\f123";
    $font-Flaticon-circular-statistics-graphic: "\f124";
    $font-Flaticon-clipboard-sketch: "\f125";
    $font-Flaticon-cloud-sketched-shape: "\f126";
    $font-Flaticon-comparison-stats-graphic: "\f127";
    $font-Flaticon-configuration-gear-sketch: "\f128";
    $font-Flaticon-connected-person-social-sketch: "\f129";
    $font-Flaticon-credit-card-sketch: "\f12a";
    $font-Flaticon-cross-sketch: "\f12b";
    $font-Flaticon-diamond-sketch: "\f12c";
    $font-Flaticon-dollar-bill-sketched-outline: "\f12d";
    $font-Flaticon-dollar-currency-sign-sketch: "\f12e";
    $font-Flaticon-dollar-sketched-thin-sign: "\f12f";
    $font-Flaticon-dollars-coins-bag-outline: "\f130";
    $font-Flaticon-dollars-coins-stacks-sketch: "\f131";
    $font-Flaticon-down-arrow-sketch: "\f132";
    $font-Flaticon-down-arrow-sketch-1: "\f133";
    $font-Flaticon-download-from-cloud-sketch: "\f134";
    $font-Flaticon-download-sketch: "\f135";
    $font-Flaticon-email-new-envelope-closed-back-hand-drawn-outline: "\f136";
    $font-Flaticon-email-open-sketched-envelope: "\f137";
    $font-Flaticon-email-sketched-envelope-with-arroba-sign: "\f138";
    $font-Flaticon-email-winged-envelope-outlined-sketch: "\f139";
    $font-Flaticon-euro-sketched-sign: "\f13a";
    $font-Flaticon-exclamation-in-a-circle-sketch: "\f13b";
    $font-Flaticon-fast-forward-sketched-arrows: "\f13c";
    $font-Flaticon-favorites-star-sketch: "\f13d";
    $font-Flaticon-file-sketch-with-text-lines: "\f13e";
    $font-Flaticon-first-track-sketched-multimedia-button: "\f13f";
    $font-Flaticon-flash-bolt-sketch: "\f140";
    $font-Flaticon-folder-sketch: "\f141";
    $font-Flaticon-folder-sketch-with-right-arrow: "\f142";
    $font-Flaticon-halloween-october-31-calendar-page-sketch: "\f143";
    $font-Flaticon-heart-sketch: "\f144";
    $font-Flaticon-home-sketch: "\f145";
    $font-Flaticon-hot-tea-cup-hand-drawn-outline: "\f146";
    $font-Flaticon-image-file-sketch: "\f147";
    $font-Flaticon-internet-cloud-sketch-with-arrows: "\f148";
    $font-Flaticon-internet-download-sketch: "\f149";
    $font-Flaticon-irregular-sketched-shapes-couple: "\f14a";
    $font-Flaticon-key-sketch: "\f14b";
    $font-Flaticon-laptop-sketch: "\f14c";
    $font-Flaticon-last-track-button-sketch: "\f14d";
    $font-Flaticon-left-arrow-sketch: "\f14e";
    $font-Flaticon-left-quote-sketch: "\f14f";
    $font-Flaticon-lifesaver-sketch: "\f150";
    $font-Flaticon-light-bulb-outlined-hand-drawn-tool: "\f151";
    $font-Flaticon-line-graphic-of-business-stats-sketch: "\f152";
    $font-Flaticon-line-graphic-sketch: "\f153";
    $font-Flaticon-line-graphic-sketch-1: "\f154";
    $font-Flaticon-line-graphic-sketch-2: "\f155";
    $font-Flaticon-line-graphic-sketch-3: "\f156";
    $font-Flaticon-line-graphic-zig-zag: "\f157";
    $font-Flaticon-link-sketch: "\f158";
    $font-Flaticon-list-verification: "\f159";
    $font-Flaticon-loader-loading-circular-sketch-with-75-percent-completed: "\f15a";
    $font-Flaticon-locked-padlock-sketch: "\f15b";
    $font-Flaticon-locked-padlock-sketch-1: "\f15c";
    $font-Flaticon-login-sketch: "\f15d";
    $font-Flaticon-logout-button-sketch: "\f15e";
    $font-Flaticon-logout-sketch: "\f15f";
    $font-Flaticon-map-sketch-with-a-placeholder: "\f160";
    $font-Flaticon-microscope-sketch: "\f161";
    $font-Flaticon-mobile-phone-sketch: "\f162";
    $font-Flaticon-money-exchange-sketch-between-dollars-and-euros: "\f163";
    $font-Flaticon-monitor-sketch: "\f164";
    $font-Flaticon-monitor-sketch-1: "\f165";
    $font-Flaticon-mute-speaker-sketch: "\f166";
    $font-Flaticon-next-file-sketch-with-right-arrow: "\f167";
    $font-Flaticon-notebook-hand-drawn-interface-tool: "\f168";
    $font-Flaticon-numbered-list-hand-drawn-interface-button-items: "\f169";
    $font-Flaticon-paint-cube-sketch: "\f16a";
    $font-Flaticon-pharmacy-cross-sketched-sign-in-square-button: "\f16b";
    $font-Flaticon-phone-auricular-hand-drawn-outline: "\f16c";
    $font-Flaticon-photo-camera-sketch: "\f16d";
    $font-Flaticon-pin-sketch: "\f16e";
    $font-Flaticon-pin-sketch-1: "\f16f";
    $font-Flaticon-placeholder-sketch: "\f170";
    $font-Flaticon-play-right-triangle-arrow-sketch: "\f171";
    $font-Flaticon-pointer-arrow-sketch: "\f172";
    $font-Flaticon-portfolio-sketched-outline: "\f173";
    $font-Flaticon-prohibition-sign-sketch: "\f174";
    $font-Flaticon-puzzle-piece-sketch: "\f175";
    $font-Flaticon-rec-with-sketched-button-square: "\f176";
    $font-Flaticon-recycle-bin-sketch: "\f177";
    $font-Flaticon-rewind-two-arrows-sketched-button: "\f178";
    $font-Flaticon-right-arrow-on-a-pole-sketch: "\f179";
    $font-Flaticon-right-arrows-sketched-set: "\f17a";
    $font-Flaticon-rocket-sketch: "\f17b";
    $font-Flaticon-rss-feed-sign-sketch: "\f17c";
    $font-Flaticon-search-with-magnifier-sketch: "\f17d";
    $font-Flaticon-share-social-button-sketch: "\f17e";
    $font-Flaticon-shopping-cart-sketch: "\f17f";
    $font-Flaticon-signals-group-sketch: "\f180";
    $font-Flaticon-smile-in-message-sketched-speech-bubble: "\f181";
    $font-Flaticon-speaker-sketch: "\f182";
    $font-Flaticon-speaker-sketch-loud-volume-interface-tool: "\f183";
    $font-Flaticon-speech-bubble-sketch: "\f184";
    $font-Flaticon-square-interface-button-sketch: "\f185";
    $font-Flaticon-square-sketch: "\f186";
    $font-Flaticon-square-sketch-of-two-triangles: "\f187";
    $font-Flaticon-statistics-business-graphic: "\f188";
    $font-Flaticon-stats-bars-comparison-sketch: "\f189";
    $font-Flaticon-stats-graphic: "\f18a";
    $font-Flaticon-stats-graphic-of-horizontal-bars: "\f18b";
    $font-Flaticon-stats-graphic-of-percentages-in-horizontal-bars: "\f18c";
    $font-Flaticon-stats-graphic-with-zig-zag-lines: "\f18d";
    $font-Flaticon-stats-graphic-zig-zag-line: "\f18e";
    $font-Flaticon-tablet-computer-sketch: "\f18f";
    $font-Flaticon-text-book-hand-drawn-outline: "\f190";
    $font-Flaticon-text-on-paper-sheet-sketch: "\f191";
    $font-Flaticon-three-arrows-sketch: "\f192";
    $font-Flaticon-trophy-sportive-sketch: "\f193";
    $font-Flaticon-turning-right-arrow-sketch: "\f194";
    $font-Flaticon-two-arrows-sketch: "\f195";
    $font-Flaticon-two-opposite-arrows-sketch: "\f196";
    $font-Flaticon-upload-sketched-arrow: "\f197";
    $font-Flaticon-upload-to-internet-cloud-sketch: "\f198";
    $font-Flaticon-upload-to-internet-cloud-sketch-1: "\f199";
    $font-Flaticon-upload-to-internet-cloud-sketch-2: "\f19a";
    $font-Flaticon-verification-sign-sketch: "\f19b";
    $font-Flaticon-visible-visualization-option-eye-sketch: "\f19c";
    $font-Flaticon-warning-triangular-sketched-sign: "\f19d";
    $font-Flaticon-winking-face-in-message-speech-bubble-sketch: "\f19e";
    $font-Flaticon-zig-zag-line-stats-graphic: "\f19f";