<!DOCTYPE html>
<html>
	<head>
		<% include ../../partials/head %>
	</head>
	<div class="headerChick">
		<img class="chicklets" src="/img/home.png"></img><span class="pipe2">|</span>
		<img class="chicklets picSize" src="/img/email.png"></img><span class="pipe2">|</span>
		<img class="chicklets" src="/img/share.png"></img><span class="pipe2">|</span>
		<img class="chicklets" src="/img/rss.png"></img><span class="pipe2">|</span>
		<img class="chicklets" src="/img/chat.png"></img><span class="pipe2">|</span>
		<img class="chicklets picSize3" src="/img/donate.png"></img><span class="pipe2">|</span>
		<img class="chicklets picSize3" src="/img/ideas.png"></img>
	</div>
	<header>
		<div class="subheader">
			<img class="picLogo2" src="/img/SWMLogo.png"></img>
			<h1>List of Volunteer Activities</h1>
		</div>
	</header>
	<body>
		<div class="menuPage2">
			<% if(currentUser === undefined){%>
				<a class="menuLinks" href="/">HOME</a> <span class="pipe">|</span>
				<a class="menuLinks" href="/">FOUNDATION</a> <span class="pipe">|</span>
				<a class="menuLinks" href="/">GALLERY</a> <span class="pipe">|</span>
				<a class="menuLinks" href="/">DONATE</a>
			<%}%>

			<% if(currentUser){ %>
				 <a class="menuLinks" href="/">HOME</a> <span class="pipe">|</span>
				 <a class="menuLinks"href="/tasks">ACTIVITIES</a> <span class="pipe">|</span>
				 <a class="menuLinks"href="/users">MEMBERS</a> 
				 </form>
			<% } %>
		</div>
		<main>
			<div>
				<div  class="form-style-9">
				<h2>List of Sponsored Activities</h2>
				<li id="createUser"><button><a class="fontSize" id="editUser" href="/tasks/new">CREATE NEW ACTIVITY</a></button></li>
				</div>
				<ul class="userIndex">
					<% for(var i = 0; i < tasks.length; i++){ %>
						<ul>
						<li class=" userCenter form-style-9 form-style-4" >
							<img class="userProfile2" src="<%=tasks[i].taskImg%>	"></img>
							<h2><a href="/tasks/<%=tasks[i]._id%>"><%=tasks[i].title%></a></h2>
						</li></ul>
					<% } %>
				</ul>
			</div>
		</main>
		<div class="spacer"></div>
	</body>
	<footer>
		<% include ../../partials/footer %>
	</footer>
</html>
