<!DOCTYPE html>
<html>
	<head>
		<% include ../../partials/head %>
	</head>
	<body>
		<header>
			<h1>Tasks</h1>
			<nav>
				<ul>
					<li>
						<a href="/">Home</a>
					</li>
					<li>
						<a href="/tasks/new">Create a new Task</a>
					</li>
				</ul>
			</nav>
		</header>
		<main>
			<h2>List of Tasks</h2>
			<ul>
				<% for(var i = 0; i < tasks.length; i++){ %>
					<li>
						<a href="/tasks/<%=tasks[i]._id%>"><%=tasks[i].title%></a>
						By:<%=tasks[i].username%>	
					</li>
				<% } %>
			</ul>
		</main>
	</body>
	<footer>
		<% include ../../partials/footer %>
	</footer>
</html>
