<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
	</head>
	<body>
		<header>
			<h1>Create an Task</h1>
			<nav>
				<ul>
					<li>
						<a href="/">Home</a>
					</li>
					<li>
						<a href="/tasks">Tasks Index</a>
					</li>
				</ul>
			</nav>
		</header>
		<main>
			<form action="/tasks" method="post">
				<select name="userId">
                    <% for(var i = 0; i < users.length; i++) { %>
                        <option value="<%=users[i]._id%>"><%=users[i].name%></option>
                    <% } %>
                </select><br/>
				<input type="text" name="title" /><br/>
				<textarea name="body"></textarea><br/>
				<input type="submit" value="Publish Task"/>
			</form>
		</main>
	</body>
</html>
