<!DOCTYPE html>
<html>
	<head>
		<% include ../../partials/head %>
	</head>
	<div class="headerChick">
		<img class="chicklets" src="/img/home.png"></img><span class="pipe2">|</span>
		<img class="chicklets picSize" src="/img/email.png"></img><span class="pipe2">|</span>
		<img class="chicklets" src="/img/share.png"></img><span class="pipe2">|</span>
		<img class="chicklets" src="/img/rss.png"></img><span class="pipe2">|</span>
		<img class="chicklets" src="/img/chat.png"></img><span class="pipe2">|</span>
		<img class="chicklets picSize3" src="/img/donate.png"></img><span class="pipe2">|</span>
		<img class="chicklets picSize3" src="/img/ideas.png"></img>
	</div>
	<header>
		<div class="subheader">
			<h1>Create New Activity</h1>
		</div>
	</header>
	<body>
		<div class="menuPage4">
			<% if(currentUser === undefined){%>
				<a class="menuLinks" href="/">HOME</a> <span class="pipe">|</span>
				<a class="menuLinks" href="/">FOUNDATION</a> <span class="pipe">|</span>
				<a class="menuLinks" href="/">GALLERY</a> <span class="pipe">|</span>
				<a class="menuLinks" href="/">DONATE</a>
			<%}%>

			<% if(currentUser){ %>
				 <a class="menuLinks" href="/">HOME</a> <span class="pipe">|</span>
				 <a class="menuLinks"href="/tasks">ACTIVITIES</a> <span class="pipe">|</span>
				 <a class="menuLinks"href="/users">MEMBERS</a> <span class="pipe">|</span>
				 <a class="menuLinks"href="/">POINTS METER</a>
				 </form>
			<% } %>
		</div>
		<main>
			<form class="form-style-9" action="/tasks" method="POST">
				<h2>New Activity Information:</h2>
				<ul>
					<li><input class="field-style field-split align-left" type="text" name="username" value="<%=user.username%>"/>
					<input class="field-style field-split align-right"  type="text" name="title" placeholder="Activity Title"/></li>
					<li><textarea class="field-style" name="description" placeholder="Task Description"></textarea></li>
					<li><input class="field-style field-full align-none" type="text" name="location" placeholder="Location"/></li>
					<li><input class="field-style field-full align-none" type="text" name="points" placeholder="Points Value"/></li>
					<li><input class="field-style field-full align-none" type="text" name="taskImg" placeholder="Image URL"/></li>
					<li id="createUser"><input type="submit" value="CREATE ACTIVITY"/></li>
			</ul>
			</form>
		</main>
	</body>
	<footer>
		<% include ../../partials/footer %>
	</footer>
</html>
