<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
	</head>
	<body>
		<header>
			<h1>Edit <%=user.name%>'s Info</h1>
			<nav>
				<ul>
					<li>
						<a href="/">Home</a>
					</li>
					<li>
						<a href="/users">Users Index</a>
					</li>
				</ul>
			</nav>
		</header>
		<main>
			<h2>Author Attributes:</h2>
			<form action="/users/<%=user._id%>?_method=PUT" method="post">
				<input type="text" name="name" value="<%=user.name%>"/><br/>
				<input type="submit" value="Update User"/>
			</form>
		</main>
	</body>
</html>
