<!DOCTYPE html>
<html>
	<head>
		<% include ../../partials/head %>
	</head>
	<header>
		<h1>Users</h1>
		<div class="menu">
				<a class="menuLinks" href="/">HOME</a> <span class="pipe">|</span>
				<a class="menuLinks"href="/tasks">TASKS</a> <span class="pipe">|</span>
				<a class="menuLinks"href="/users">USER</a> <span class="pipe">|</span>
				<a class="menuLinks"href="/">POINTS METER</a>
		</div>
	</header>
	<body>
		<main>
			<div class="form-style-9">
				<h2><legend>List of Users</legend></h2>
				<ul class="userIndex">
					<% for(var i = 0; i < users.length; i++){ %>
						<li>
							<a href="/users/<%=users[i]._id%>"><%=users[i].name%></a>
						</li>
					<% } %>
				</ul>
			</div>
		</main>
	</body>
	<footer>
		<% include ../../partials/footer %>
	</footer>
</html>
