<!DOCTYPE html>
<html>
	<head>
		<% include ../../partials/head %>
	</head>
	<div class="headerChick">
		<img class="chicklets" src="/img/home.png"></img><span class="pipe2">|</span>
		<img class="chicklets picSize" src="/img/email.png"></img><span class="pipe2">|</span>
		<img class="chicklets" src="/img/share.png"></img><span class="pipe2">|</span>
		<img class="chicklets" src="/img/rss.png"></img><span class="pipe2">|</span>
		<img class="chicklets" src="/img/chat.png"></img><span class="pipe2">|</span>
		<img class="chicklets picSize3" src="/img/donate.png"></img><span class="pipe2">|</span>
		<img class="chicklets picSize3" src="/img/ideas.png"></img>
	</div>
	<header>
		<div class="subheader">
			<img class="picLogo2" src="/img/SWMLogo.png"></img>
			<h1>Start With Me Members</h1>
	</header>
	<body>
		<div class="menuPage2">
			<% if(currentUser === undefined){%>
				<a class="menuLinks" href="/">HOME</a> <span class="pipe">|</span>
				<a class="menuLinks" href="/">FOUNDATION</a> <span class="pipe">|</span>
				<a class="menuLinks" href="/">GALLERY</a> <span class="pipe">|</span>
				<a class="menuLinks" href="/">POINTS METER</a>
			<%}%>

			<% if(currentUser){ %>
				 <a class="menuLinks" href="/">HOME</a> <span class="pipe">|</span>
				 <a class="menuLinks"href="/tasks">ACTIVITIES</a> <span class="pipe">|</span>
				 <a class="menuLinks"href="/users">MEMBERS</a>
			<% } %>
		</div>
		<main>
			<div>
				<h2 class="form-style-9">List of Users</h2>
				<ul class="userIndex">
					<% for(var i = 0; i < users.length; i++){ %>
						<ul>
						<li class=" userCenter form-style-9 form-style-4" >
							<img class="userProfile2" src="<%=users[i].userImg%>	"></img>
							<h2><a href="/users/<%=users[i]._id%>"><%=users[i].name%></a></h2>
						</li></ul>
					<% } %>
				</ul>
			</div>
		</main>
		<div class="spacer"></div>
	</body>
	<footer>
		<% include ../../partials/footer %>
	</footer>
</html>
