<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
		integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
		crossorigin="anonymous">
		<link href="https://fonts.googleapis.com/css?family=Fredericka+the+Great|Homemade+Apple" rel="stylesheet">
	</head>
	<body>
		<header>
			<h1>Create an User</h1>
			<nav>
				<ul>
					<li>
						<a href="/">Home</a>
					</li>
					<li>
						<a href="/users">Users Index</a>
					</li>
				</ul>
			</nav>
		</header>
		<main>
			<form action="/users" method="post">
				<input type="text" name="name" placeholder="First and Last Name"/><br>
				<input type="text" name="email" placeholder="Email"/><br>
				<input type="text" name="age" placeholder="Age"/><br>
				<input type="text" name="parent" placeholder="Parent or Guardian"/><br>
				<input type="text" name="school" placeholder="Current School"/><br>
				<input type="text" name="location" placeholder="Location"/><br>
				<input type="text" name="userImg" placeholder="Image URL"/><br>
				<input type="submit" value="Create User">
			</form>

		</main>
	</body>
</html>
