<!DOCTYPE html>
<html>
	<head>
		<% include ../../partials/head %>
	</head>
	<header>
		<div class="subheader">
			<h1>Register User</h1>
			<div class="menu">
					<a class="menuLinks" href="/">HOME</a> <span class="pipe">|</span>
					<a class="menuLinks"href="/tasks">TASKS</a> <span class="pipe">|</span>
					<a class="menuLinks"href="/users">USER</a> <span class="pipe">|</span>
					<a class="menuLinks"href="/">POINTS METER</a>
			</div>
		</div>
	</header>
	<body>
		<main>

			<div>
				<form class="form-style-9" action="/users" method="post">
					<h2> Registration Form </h2>
					<ul>
						<li><input class="field-style field-split align-left" type="text" name="name" placeholder="First and Last Name"/>
						<input class="field-style field-split align-right" type="text" name="email" placeholder="Email"/></li>
						<li><input class="field-style field-split align-left" type="text" name="username" placeholder="Username"/>
						<input class="field-style field-split align-right" type="text" name="password" placeholder="Password"/></li>
						<li><input class="field-style field-split align-left"  type="text" name="parent" placeholder="Parent or Guardian"/>
						<input class="field-style field-split align-right" type="text" name="age" placeholder="Age"/></li>
						<li><input class="field-style field-full align-none" type="text" name="school" placeholder="Current School"/></li>
						<li><input class="field-style field-full align-none" type="text" name="location" placeholder="Location"/></li>
						<li><input class="field-style field-full align-none" type="text" name="userImg" placeholder="Image URL"/></li>
						<li id="createUser"><input type="submit" value="Create User"></li>
					<ul>
				</form>
			</div>
		</main>
	</body>
	<footer>
		<% include ../../partials/footer %>
	</footer>
</html>
