<html>
<head>

</head>
<header>
   <div class="subheader">
      <img class="picLogo2" src="/img/SWMLogo.png"></img>
      <h1>Start With Me Members</h1>
</header>
<body>
   <div class="menuPage2">
      <% if(currentUser === undefined){%>
         <a class="menuLinks" href="/">HOME</a> <span class="pipe">|</span>
         <a class="menuLinks" href="/">FOUNDATION</a> <span class="pipe">|</span>
         <a class="menuLinks" href="/">GALLERY</a> <span class="pipe">|</span>
         <a class="menuLinks" href="/">POINTS METER</a>
      <%}%>

      <% if(currentUser){ %>
          <a class="menuLinks" href="/">HOME</a> <span class="pipe">|</span>
          <a class="menuLinks"href="/tasks">ACTIVITIES</a> <span class="pipe">|</span>
          <a class="menuLinks"href="/users">MEMBERS</a> <span class="pipe">|</span>
          <a class="menuLinks"href="/points">POINTS METER</a>
      <% } %>
   </div>
   <div class="wrapper">
      <div id="base">
        <div id="baseoverlay">
           <div id="dial1"></div>
        </div>
         <div id="base1">
            <div class="line1"></div>
         </div>
         <div  id="base2"></div>
         <div  id="base2overlay"></div>
         <div  id="base3"></div>
         <div class="numbers">100%</div>

      </div>
   </div>
   <script type="text/javascript" src="/jquery/app.js"></script>
</body>
</html>
