	/*
  	Flaticon icon font: Flaticon
  	Creation date: 22/06/2016 15:11
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-adobe-reader-file-outlined-sketch:before { content: "\f100"; }
.flaticon-alarm-clock-hand-drawn-outline:before { content: "\f101"; }
.flaticon-antenna-sketch:before { content: "\f102"; }
.flaticon-archive-box-outlined-hand-drawn-tool:before { content: "\f103"; }
.flaticon-arroba-hand-drawn-sign-of-email:before { content: "\f104"; }
.flaticon-arrow-pointing-a-circle-sketch:before { content: "\f105"; }
.flaticon-bars-graphic-of-comparison:before { content: "\f106"; }
.flaticon-bars-graphic-sketch:before { content: "\f107"; }
.flaticon-bars-stats-graphic:before { content: "\f108"; }
.flaticon-bills:before { content: "\f109"; }
.flaticon-birthday-giftbox-sketch:before { content: "\f10a"; }
.flaticon-bookmark-sketch-with-a-star:before { content: "\f10b"; }
.flaticon-browser-window-sketch:before { content: "\f10c"; }
.flaticon-burn-sketch:before { content: "\f10d"; }
.flaticon-business-ascending-graphic-sketch:before { content: "\f10e"; }
.flaticon-business-graphic-sketch:before { content: "\f10f"; }
.flaticon-business-graphic-sketch-of-two-lines:before { content: "\f110"; }
.flaticon-business-statistics:before { content: "\f111"; }
.flaticon-business-statistics-sketch:before { content: "\f112"; }
.flaticon-business-stats-line-graphic-sketch:before { content: "\f113"; }
.flaticon-chat-speech-bubbles-sketch:before { content: "\f114"; }
.flaticon-chatting-speech-bubbles-hand-drawn-bubbles-couple:before { content: "\f115"; }
.flaticon-circle-and-right-down-arrow-sketch:before { content: "\f116"; }
.flaticon-circle-of-graphic-with-50-percent-full-sketch:before { content: "\f117"; }
.flaticon-circle-sketch:before { content: "\f118"; }
.flaticon-circular-business-graphic-sketch:before { content: "\f119"; }
.flaticon-circular-divided-graphic-sketch:before { content: "\f11a"; }
.flaticon-circular-graphic-of-a-loader-with-0-percent-charged:before { content: "\f11b"; }
.flaticon-circular-graphic-of-percentage-on-monitor-screen:before { content: "\f11c"; }
.flaticon-circular-graphic-outlined-sketch:before { content: "\f11d"; }
.flaticon-circular-graphic-sketch:before { content: "\f11e"; }
.flaticon-circular-graphic-sketch-with-cut-25-percent-piece:before { content: "\f11f"; }
.flaticon-circular-graphic-with-striped-25-percent:before { content: "\f120"; }
.flaticon-circular-graphic-with-triangle-separation:before { content: "\f121"; }
.flaticon-circular-loader-100-percent-loaded-sketch:before { content: "\f122"; }
.flaticon-circular-percentages-graphic-sketch:before { content: "\f123"; }
.flaticon-circular-statistics-graphic:before { content: "\f124"; }
.flaticon-clipboard-sketch:before { content: "\f125"; }
.flaticon-cloud-sketched-shape:before { content: "\f126"; }
.flaticon-comparison-stats-graphic:before { content: "\f127"; }
.flaticon-configuration-gear-sketch:before { content: "\f128"; }
.flaticon-connected-person-social-sketch:before { content: "\f129"; }
.flaticon-credit-card-sketch:before { content: "\f12a"; }
.flaticon-cross-sketch:before { content: "\f12b"; }
.flaticon-diamond-sketch:before { content: "\f12c"; }
.flaticon-dollar-bill-sketched-outline:before { content: "\f12d"; }
.flaticon-dollar-currency-sign-sketch:before { content: "\f12e"; }
.flaticon-dollar-sketched-thin-sign:before { content: "\f12f"; }
.flaticon-dollars-coins-bag-outline:before { content: "\f130"; }
.flaticon-dollars-coins-stacks-sketch:before { content: "\f131"; }
.flaticon-down-arrow-sketch:before { content: "\f132"; }
.flaticon-down-arrow-sketch-1:before { content: "\f133"; }
.flaticon-download-from-cloud-sketch:before { content: "\f134"; }
.flaticon-download-sketch:before { content: "\f135"; }
.flaticon-email-new-envelope-closed-back-hand-drawn-outline:before { content: "\f136"; }
.flaticon-email-open-sketched-envelope:before { content: "\f137"; }
.flaticon-email-sketched-envelope-with-arroba-sign:before { content: "\f138"; }
.flaticon-email-winged-envelope-outlined-sketch:before { content: "\f139"; }
.flaticon-euro-sketched-sign:before { content: "\f13a"; }
.flaticon-exclamation-in-a-circle-sketch:before { content: "\f13b"; }
.flaticon-fast-forward-sketched-arrows:before { content: "\f13c"; }
.flaticon-favorites-star-sketch:before { content: "\f13d"; }
.flaticon-file-sketch-with-text-lines:before { content: "\f13e"; }
.flaticon-first-track-sketched-multimedia-button:before { content: "\f13f"; }
.flaticon-flash-bolt-sketch:before { content: "\f140"; }
.flaticon-folder-sketch:before { content: "\f141"; }
.flaticon-folder-sketch-with-right-arrow:before { content: "\f142"; }
.flaticon-halloween-october-31-calendar-page-sketch:before { content: "\f143"; }
.flaticon-heart-sketch:before { content: "\f144"; }
.flaticon-home-sketch:before { content: "\f145"; }
.flaticon-hot-tea-cup-hand-drawn-outline:before { content: "\f146"; }
.flaticon-image-file-sketch:before { content: "\f147"; }
.flaticon-internet-cloud-sketch-with-arrows:before { content: "\f148"; }
.flaticon-internet-download-sketch:before { content: "\f149"; }
.flaticon-irregular-sketched-shapes-couple:before { content: "\f14a"; }
.flaticon-key-sketch:before { content: "\f14b"; }
.flaticon-laptop-sketch:before { content: "\f14c"; }
.flaticon-last-track-button-sketch:before { content: "\f14d"; }
.flaticon-left-arrow-sketch:before { content: "\f14e"; }
.flaticon-left-quote-sketch:before { content: "\f14f"; }
.flaticon-lifesaver-sketch:before { content: "\f150"; }
.flaticon-light-bulb-outlined-hand-drawn-tool:before { content: "\f151"; }
.flaticon-line-graphic-of-business-stats-sketch:before { content: "\f152"; }
.flaticon-line-graphic-sketch:before { content: "\f153"; }
.flaticon-line-graphic-sketch-1:before { content: "\f154"; }
.flaticon-line-graphic-sketch-2:before { content: "\f155"; }
.flaticon-line-graphic-sketch-3:before { content: "\f156"; }
.flaticon-line-graphic-zig-zag:before { content: "\f157"; }
.flaticon-link-sketch:before { content: "\f158"; }
.flaticon-list-verification:before { content: "\f159"; }
.flaticon-loader-loading-circular-sketch-with-75-percent-completed:before { content: "\f15a"; }
.flaticon-locked-padlock-sketch:before { content: "\f15b"; }
.flaticon-locked-padlock-sketch-1:before { content: "\f15c"; }
.flaticon-login-sketch:before { content: "\f15d"; }
.flaticon-logout-button-sketch:before { content: "\f15e"; }
.flaticon-logout-sketch:before { content: "\f15f"; }
.flaticon-map-sketch-with-a-placeholder:before { content: "\f160"; }
.flaticon-microscope-sketch:before { content: "\f161"; }
.flaticon-mobile-phone-sketch:before { content: "\f162"; }
.flaticon-money-exchange-sketch-between-dollars-and-euros:before { content: "\f163"; }
.flaticon-monitor-sketch:before { content: "\f164"; }
.flaticon-monitor-sketch-1:before { content: "\f165"; }
.flaticon-mute-speaker-sketch:before { content: "\f166"; }
.flaticon-next-file-sketch-with-right-arrow:before { content: "\f167"; }
.flaticon-notebook-hand-drawn-interface-tool:before { content: "\f168"; }
.flaticon-numbered-list-hand-drawn-interface-button-items:before { content: "\f169"; }
.flaticon-paint-cube-sketch:before { content: "\f16a"; }
.flaticon-pharmacy-cross-sketched-sign-in-square-button:before { content: "\f16b"; }
.flaticon-phone-auricular-hand-drawn-outline:before { content: "\f16c"; }
.flaticon-photo-camera-sketch:before { content: "\f16d"; }
.flaticon-pin-sketch:before { content: "\f16e"; }
.flaticon-pin-sketch-1:before { content: "\f16f"; }
.flaticon-placeholder-sketch:before { content: "\f170"; }
.flaticon-play-right-triangle-arrow-sketch:before { content: "\f171"; }
.flaticon-pointer-arrow-sketch:before { content: "\f172"; }
.flaticon-portfolio-sketched-outline:before { content: "\f173"; }
.flaticon-prohibition-sign-sketch:before { content: "\f174"; }
.flaticon-puzzle-piece-sketch:before { content: "\f175"; }
.flaticon-rec-with-sketched-button-square:before { content: "\f176"; }
.flaticon-recycle-bin-sketch:before { content: "\f177"; }
.flaticon-rewind-two-arrows-sketched-button:before { content: "\f178"; }
.flaticon-right-arrow-on-a-pole-sketch:before { content: "\f179"; }
.flaticon-right-arrows-sketched-set:before { content: "\f17a"; }
.flaticon-rocket-sketch:before { content: "\f17b"; }
.flaticon-rss-feed-sign-sketch:before { content: "\f17c"; }
.flaticon-search-with-magnifier-sketch:before { content: "\f17d"; }
.flaticon-share-social-button-sketch:before { content: "\f17e"; }
.flaticon-shopping-cart-sketch:before { content: "\f17f"; }
.flaticon-signals-group-sketch:before { content: "\f180"; }
.flaticon-smile-in-message-sketched-speech-bubble:before { content: "\f181"; }
.flaticon-speaker-sketch:before { content: "\f182"; }
.flaticon-speaker-sketch-loud-volume-interface-tool:before { content: "\f183"; }
.flaticon-speech-bubble-sketch:before { content: "\f184"; }
.flaticon-square-interface-button-sketch:before { content: "\f185"; }
.flaticon-square-sketch:before { content: "\f186"; }
.flaticon-square-sketch-of-two-triangles:before { content: "\f187"; }
.flaticon-statistics-business-graphic:before { content: "\f188"; }
.flaticon-stats-bars-comparison-sketch:before { content: "\f189"; }
.flaticon-stats-graphic:before { content: "\f18a"; }
.flaticon-stats-graphic-of-horizontal-bars:before { content: "\f18b"; }
.flaticon-stats-graphic-of-percentages-in-horizontal-bars:before { content: "\f18c"; }
.flaticon-stats-graphic-with-zig-zag-lines:before { content: "\f18d"; }
.flaticon-stats-graphic-zig-zag-line:before { content: "\f18e"; }
.flaticon-tablet-computer-sketch:before { content: "\f18f"; }
.flaticon-text-book-hand-drawn-outline:before { content: "\f190"; }
.flaticon-text-on-paper-sheet-sketch:before { content: "\f191"; }
.flaticon-three-arrows-sketch:before { content: "\f192"; }
.flaticon-trophy-sportive-sketch:before { content: "\f193"; }
.flaticon-turning-right-arrow-sketch:before { content: "\f194"; }
.flaticon-two-arrows-sketch:before { content: "\f195"; }
.flaticon-two-opposite-arrows-sketch:before { content: "\f196"; }
.flaticon-upload-sketched-arrow:before { content: "\f197"; }
.flaticon-upload-to-internet-cloud-sketch:before { content: "\f198"; }
.flaticon-upload-to-internet-cloud-sketch-1:before { content: "\f199"; }
.flaticon-upload-to-internet-cloud-sketch-2:before { content: "\f19a"; }
.flaticon-verification-sign-sketch:before { content: "\f19b"; }
.flaticon-visible-visualization-option-eye-sketch:before { content: "\f19c"; }
.flaticon-warning-triangular-sketched-sign:before { content: "\f19d"; }
.flaticon-winking-face-in-message-speech-bubble-sketch:before { content: "\f19e"; }
.flaticon-zig-zag-line-stats-graphic:before { content: "\f19f"; }