<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
	</head>
	<body>
		<header>
			<h1>Create an User</h1>
			<nav>
				<ul>
					<li>
						<a href="/">Home</a>
					</li>
					<li>
						<a href="/users">Users Index</a>
					</li>
				</ul>
			</nav>
		</header>
		<main>
			<form action="/users" method="post">
				<input type="text" name="name" />
			</form>
		</main>
	</body>
</html>
